@import "../icons/icons";
@font-face {
  font-family: "Exo2";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Exo2/Exo2Regular/Exo2Regular.eot");
  src: url("../fonts/Exo2/Exo2Regular/Exo2Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2/Exo2Regular/Exo2Regular.woff") format("woff"), url("../fonts/Exo2/Exo2Regular/Exo2Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Exo2/Exo2Bold/Exo2Bold.eot");
  src: url("../fonts/Exo2/Exo2Bold/Exo2Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2/Exo2Bold/Exo2Bold.woff") format("woff"), url("../fonts/Exo2/Exo2Bold/Exo2Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Exo2/Exo2SemiBold/Exo2SemiBold.eot");
  src: url("../fonts/Exo2/Exo2SemiBold/Exo2SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2/Exo2SemiBold/Exo2SemiBold.woff") format("woff"), url("../fonts/Exo2/Exo2SemiBold/Exo2SemiBold.ttf") format("truetype");
}