@import "../custom_bootstrap/variables_custom";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.catalog-tovar-wrapper{
  height: 100%;
  padding-bottom: 1.5rem;
}
.catalog-tovar-card{
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid hsla(0,0%,63%,.3);
}
.catalog-tovar-prop{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  justify-content: space-between;

}
.btn-catalog-order{
  margin-top: 1rem;
}
.catalog-tovar-title{
  font-size: 1.1rem;
}
.catalog-tovar-price{
  text-align: right;
  font-size: 1.25rem;
}
@include media-breakpoint-up(lg){
  .catalog-tovar-wrapper{


  }
  .catalog-tovar-prop{

  }
}