.icon-bar {
  display: block;
  width: 24px;
  height: 2px;
  margin-top: 3px;
  margin-bottom: 4px;
  background: #fff!important;
}
.icon-bar--wrapper {
  .icon-bar {

    transition: all .25s ease-in-out;
  }

  &.open {
    .icon-bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 4px);
    }

    .icon-bar:nth-child(2) {
      opacity: 0;
    }

    .icon-bar:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px);
    }
  }
}
.navbar-toggler{
 border: 0;
}
.nav-item{
  text-transform: uppercase;
}